source ~\.vimrc
set surround
set argtextobj
set highlightedyank
set clipboard+=ideaput
set visualbell

" Mappings
map <Leader>r <Action>(Debug)
map <Leader>R <Action>(Stop)
map <Leader>i <Action>(Generate)
map gs <Action>(GotoImplementation)
map gS <Action>(QuickImplementations)
map g; <Action>(AceDeclarationAction)
map <Leader>z <Action>(ToggleZenMode)
map <Leader><Tab><Tab> <Action>(ConvertIndentsToTabs)
map <Leader><Tab><Space> <Action>(ConvertIndentsToSpaces)
nnoremap mm mm:action ToggleBookmarkM<CR>
nnoremap mn mn:action ToggleBookmarkN<CR>
map <C-i> <Action>(Forward)
map <C-o> <Action>(Back)

" Commands
cmap rcr so ~\.ideavimrc